@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;  /* Range from Thin (100) to Black (900) */
  font-display: swap;
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
} 